<h2>Questions</h2>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead class="table-light">
        <tr>
          <td>Id</td>
          <td>Title</td>
          <td>Menu</td>
        </tr>
      </thead>
      <tbody>
     <%= @questions.each do |question| %>
        <tr>
          <td><%= question.id %></td>
          <td><%= link_to question.title, question_path(question) %></td>
          <td>
            [<%= link_to 'edit', edit_question_path(question) %>]
            [<%= link_to 'delete', question_path(question), method: :delete, data:{ confirm: 'Are you sure'} %>]</td>
        </tr>
        <% end %>
      </tbody>

    </table>

    <div>
      <%= link_to 'new', new_question_path %>
    </div>

  </div>
</div>